.cookieCard {
    width: 400px;
    height: 200px;
    background: linear-gradient(to right, rgb(16, 137, 211),  #ced5f5);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: absolute;
    overflow: hidden;
    z-index: 40;
    border-radius: 30px;
}
  
  .cookieCard::before {
    width: 150px;
    height: 150px;
    content: "";
    background: linear-gradient(to right,rgb(16, 137, 211),  #eaedfa);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    right: -25%;
    top: -25%;
  }
  
  
  .cookieDescription {
    font-size: 1.2em;
    font-weight: 500;
    color: rgb(241, 241, 241);
    z-index: 2;
  }
  
  
  .acceptButton {
    padding: 11px 20px;
    background-color: #577eff;
    transition-duration: .2s;
    border: none;
    color: rgb(241, 241, 241);
    cursor: pointer;
    font-weight: 600;
    z-index: 2;
  }
  
  .acceptButton:hover {
    background-color: #4a6bff;
    border-radius: 10px;
    transition-duration: .5s;
  }