.webcam-main-container{
    max-height: auto;
    max-width: 850px;
    border-radius: 50px;
    overflow: hidden;
    padding: 0px;
}

.webcam-container{
    height: 480px;
    width: 640px;
    font-family: monospace;
    background-color: black;
    color: white;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.video {
    max-height: 480px;
    max-width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .canvas {
    max-height: 480px;
    max-width: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
