.webcam-container{
    max-width: 600px;
    max-height: 450px;
    border: 30px solid #8a2be2;
    border-radius: 50px;
    overflow: hidden;
    padding: 0px;
}

.content > video {
    width: 100%;
    height: auto;
}

.content > img {
    width: 100%;
    height: auto;
}